.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: white;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f4f6f9;
    border-bottom: 1px solid #d8dde6;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.header-actions{
    text-align: -webkit-right;
}
.cancel-button {
    margin-right: 30px;
}
.back-button {
    margin-right: 5px;
}
.progress-container {
    margin: 1rem;
}

.content {
    flex: 1;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #d8dde6;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    background-color: #f4f6f9;
    border-top: 1px solid #d8dde6;
}

.footer-button {
    min-width: 6rem;
}