.document-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.document-list, .recipient-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.document-item, .recipient-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.recipient-icon {
    margin-right: 0.5rem;
}

.document-name, .recipient-name {
    flex-grow: 1;
    margin-right: 1rem;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.document-size, .recipient-email, .recipient-role {
    font-size: 0.9rem;
}

.document-preview {
    margin-bottom: 1.5rem;
}

.iframe-container {
    justify-self: center;
}

.document-iframe {
    height: 750px;
    width: 750px;
    border: 1px solid #d8dde6;
    border-radius: 4px;
}

.send-button-container {
    text-align: center;
    margin-top: 1.5rem;
}

.title{
    justify-self: center;
    text-align: center;
    font-size: 20px;
    background: #ececec66;
    width: 750px;
    padding:20px;
}

.title-recipients{
    justify-self: center;
    text-align: center;
    font-size: 20px;
    width: 750px;
    margin:20px;
}

.container {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
}

.record-list ul {
    list-style-type: none;
    padding: 0;
}

.record-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s ease;
}

.record-item:hover {
    background-color: #e0e0e0;
}

.no-records {
    color: #888;
    font-style: italic;
}

.preview-container {
    margin-top: 1rem;
    text-align: center;
}