.data-source-container {
    position: relative;
    width: 100%;
}

.dropdown-container {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-value {
    display: flex;
    align-items: center;
}

.dropdown-icon {
    margin-left: auto;
}

.slds-dropdown {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    position: absolute;
    width: 100%;
    z-index: 10;
    max-height: 250px; /* Fixed height */
    overflow-y: auto; /* Enable scrolling */
}

.slds-dropdown__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slds-dropdown__header {
    padding: 0.5rem 1rem;
    background: #f4f6f9;
    color: #1f2d3d;
    font-size: 0.75rem;
    font-weight: bold;
}

.slds-dropdown__item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.slds-dropdown__item:hover {
    background: #f4f6f9;
}