.upload-container {
    padding: 1rem;
    background-color: #f4f6f9; /* Light gray background */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.uploaded-file-container {
    border: 1px solid #d9dde3; /* Border around uploaded file */
    border-radius: 0.5rem; /* Rounded corners */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.file-icon {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.file-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.file-size {
    font-size: 0.9rem;
    color: #6b7075; /* Muted text color */
}

.file-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.file-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.file-input,
.file-combobox {
    width: 100%;
    max-width: 300px;
}

.remove-button {
    color: #f44; /* Red for delete */
}